$break_xl: 1500px;
$break_lg: 1250px;
$break_med: 750px;
$break_sm: 450px;
$ease: cubic-bezier(0.23, 1, 0.32, 1);
$timing_contenttransition: 400ms;
$delay_contenttransition: 100ms;
$pad: 1.8rem;
$mobile_nav_height: 6.1em;

@import './typography';

html {
  background: var(--white);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

input, button, textarea {
  &:focus {
    outline: none;
  }
}
#main {
  height: 100vh;
  width: 100vw;
  background: #fffef9;
  color: black;
  overflow: hidden;
  &.red {
    // background: url(/otis-redding.png), #fffcef;
    background-size: auto, auto;
    color: red;
    background-size: 120px;
  }
  &.grass {
    color: #fff;
    background: url('/grass01.jpg');
    background-size: 450px;
  }
  &.water {
    color: #fff;
    background: url('/water.jpg');
    background-size: 200px;
  }
}

.home {
  padding: 3rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  @media( max-width: $break_sm ) {
    padding: 1.5rem;
  }
}
.red {
  color: red;
  border-color: red;
}
.blue {
  color: blue;
  border-color: blue;
}
.italic {
  font-style: italic;
}

.header {
  // padding-bottom: 5em;
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-radius: 3px;
  @media( max-width: $break_sm ) {
    display: block;
  }
  img {
    width: 1em;
  }
}

.helvetica {
  font-family: helvetica;
  font-weight: 400;
  letter-spacing: -0.2rem
}
.small {
  font-size: 0.5em
}

.nav {
  display: none;
  font-size: 0.8em;
  height: 1em;
  .next {
    float: right;
  }
  .prev {
    float: left;
  }
  a:hover {
    font-weight: bold
  }
}
.scroll-hider {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.projects {
  overflow: scroll;
  padding-top: 5em;
  padding-bottom: 3em;
  padding-right: 30px;
  width: 100%;
  box-sizing: content-box;
}

.project {
  font-size: 4rem;
  margin-bottom: 2.4rem;
  width: 100%;
  justify-content: space-between;
  border-bottom-width: 0.18rem;
  border-bottom-style: solid;
  &__title, &__details, &__year, &__link {
    display: inline-block;
  }
  &__title {
    white-space: nowrap;
  }
  &__details {
    padding-left: 1.5rem;
    font-size: 0.4em;
    line-height: 1;
    letter-spacing: 0;
    @media( max-width: $break_sm ) {
      // display: none;
    }
  }
  &__year {
    @media( max-width: $break_sm ) {
      display: none;
    }
  }
  &__year, &__link {
    float: right;
  }
  &__link a {
    padding-right: 2rem;
    margin-bottom: 0.2rem;
    font-size: 0.8em;
    @media( max-width: $break_sm ) {
      font-size: 1em;
    }
    img {
      height: 1em;
    }
  }
  &__collaborator a {
    text-transform: lowercase;
    &:hover {
      font-weight: 600;
    }
  }
}
